.carousel {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.slick-slide img {
    width: 100%;
    height: auto;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-dots li button:before {
    color: black;
}

.carousel img {
    width: 320px;
    height: 220px;
}

.titulo_slider {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_inclusao {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inclusao {
    color: #FFA90F;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
}

.atividade {
    color: #0E2651;
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
    font-family: 'Volkhov', serif;
}