/************************************** CARS-OURS ********************************/
.wrapper_container{
   width: 100%;
   height: auto;
   background-image: url(./assets/img/Section\ 8.png);
   

   /* Inside auto layout */

   flex: none;
   order: 4;
   align-self: stretch;
   flex-grow: 0;

}
 
.wrapper {   
    text-align: center;
    padding: 6em 0 6em 0;
 }

 .wrapper .wrapper_text h1  {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21.0929px;
    line-height: 32px;
    
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFA90F;
    
    /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;

 }

 .wrapper .wrapper_text h2{
   font-family: 'Volkhov';
   font-style: normal;
   font-weight: 700;
   font-size: 58.5915px;
   line-height: 76px;
   padding: 0.2em 0 1em 0;
   /* identical to box height */

   color: #0E2651;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;
   }

 .wrapper .our_team {
    display: flex;
    width: auto;
    justify-content: center;
 }

 .wrapper .our_team .team_member .member_img {
    background: #e9e5fa;
    width: 7em;
    height: 7em;
    margin: 1em ;
    border-radius: 50%;
    padding: 0.5em;
    cursor: pointer;
    position: relative;
 }

 .wrapper .our_team .team_member .member_img img {
    
   width: 7em;
   height: 7em;

   /* sombra cards */
   filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   border-radius: 50%;
 }

 .wrapper .our_team .team_member h3 {
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 700;
   font-size: 12.6169px;
   line-height: 20px;
   /* identical to box height, or 156% */
   
   font-feature-settings: 'liga' off;
   
   color: #2D2D2D;
   
   
   /* Inside auto layout */
   
   flex: none;
   order: 0;
   flex-grow: 0;
 }

 .wrapper .our_team .team_member p {
   
   font-family: 'Manrope';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 17px;
   /* identical to box height, or 171% */

   font-feature-settings: 'liga' off;

   color: #2D2D2D;

   opacity: 0.7;

   /* Inside auto layout */

   flex: none;
   order: 1;
   flex-grow: 0;;
   }

 .wrapper .our_team .team_member .social_media {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    width: 95%;
    height: 95%;
    background: rgba(0,0,0,0.65);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.5s ease;

 }

 .wrapper .our_team .team_member .social_media .item {
    margin: 0 0.4em;
 }

 .wrapper .our_team .team_member .social_media .item .fab {
    color: #8c7ae6;
    font-size: 1em;
 }

 .wrapper .our_team .team_member .member_img:hover .social_media {
    transform: scale(1);
 }

/*  @media screen and (min-width: 768px) {
    section {
        padding: 1em 7em;
    }
}

@media screen and (min-width: 992px) {
    section {
        padding: 1em;
    }
    .card {
        padding: 5em 1em;
    }
    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 0.2em;

    } 
    
}*/
