.dicas_container {

    width: 100%;
    height: 48em;
    background-image: url(./assets/img/Section\ 6.png);
       /* Inside auto layout */

   flex: none;
   order: 4;
   align-self: stretch;
   flex-grow: 0;


}


.dicas_container .dicas_row {   
    width: 50%;
    margin: 5em;
    display: flex;
    justify-content: center;
}

.dicas_container .dicas_row .heading h1 {
    width: 56px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #FFA90F;


}

.dicas_container .dicas_row .heading h2{
    
    width: 664.61px;
    height: 195px;
    margin: 0 0 0.5em 0;

    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;

    color: #0E2651;
}

.dicas_container .dicas_row .heading .column .row {
    display: flex;

}

.dicas_container .dicas_row .heading .column .row .container_vector  {   
    
    margin-top: 2em;
    left: 0px;
    top: 0px;
   
}

.dicas_container .dicas_row .heading .column .row .container_vector .vector_1{
    background: #F0BB1F;
}

.dicas_container .dicas_row .heading .column .row .container_vector .vector_2{
    background: #F15A2B;;
}

.dicas_container .dicas_row .heading .column .row .container_vector .vector_3{
    background: #006380;;

}

.dicas_container .dicas_row .heading .column .row .container_vector .vector_4{
    background: #F0BB1F;
}

.dicas_container .dicas_row .heading .column .row .container_vector img {
       
    width: 2em;
    height: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
  
    
}

.dicas_container .dicas_row .heading .column .row .text_container h3 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
    margin: 0 1em;
    padding: 2em 0 0 1em;
    /* identical to box height, or 20px */

    /* TEXT CLR */
    color: #5E6282;

}

.dicas_container .dicas_row .heading .column .row .text_container p {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;

    margin: 0 1em;
    padding: 0 0 0 1em;
    /* or 20px */

    /* TEXT CLR */
    color: #5E6282;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

.main_img {
    position: absolute;
    width: 490px;
    height: 539px;
    margin: 9em 0;
    padding: 0.5em;

    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 32px;
}

.main_img .img_item {   
    position: absolute;
    width: 557px;
    height: 533px;
    right: 1.25em;

    background-image: url(./assets/img/image\ 48.png);

    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 32px;

}

