@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.header {
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100vw;
    display: inline-flex;
    align-items: center;
    background-color: #03738c;
    padding: 20px 50px;
}

.header.menu {
    display: inline-block;
    text-align: right;
    width: 100%;
    justify-content: flex-end;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.header.menu.menu-item {
    position: relative;
    display: inline-block;
    justify-content: flex-end;
}

.logo {
    display: flex;
}

.header img {
    width: 68px;
    height: 68px;
    display: flex;
    margin-right: 1vw;
    margin-left: 1vw;
}

.titulo_logo {
    color: #2d2d2d;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.logotipo {
    align-items: center;
    display: inline-block;
}

.menu {
    margin-left: 25%;
}

