.map {
    background-image: url(./assets/img/Section\ 7.png);
    width: 100%;
    height: 960px;
    text-align: center;
    padding: 7em;
    
}


.map_titulo {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 21.0929px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFA90F;
}

.map_text {

    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 58.5915px;
    line-height: 76px;
    /* identical to box height */


    color: #0E2651;

}

.map_container {

    background-image: url(./assets/img/map.png);
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 2em;
    

    /* sombra cards */

    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    
}